@media screen and (min-width:1440px){
    body{
        background-image: url(Group\ 5.png);
    }
    .form{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        background-color: #FF7979;
        width: 1440px;
        height: 800px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-inline: 165px;
    }    
    .text{
        width: 525px;
    }
    .text h1{
        color: #FFF ;
        font-size: 50px ;
        font-style: normal ;
        font-weight: 700 ;
        line-height: 55px ;
        letter-spacing: -0.521px ; 
        text-align: start ;
    }
    .text p{
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        text-align: start ;
    }
    .sign-up{
        width: 450px ;
    }
    input{
        width: 350px ;
    }
    button{
        width: 350px;
    }
    .last{
        width: 360pxs;
    }
}